<%= form_for([:car, @booking]) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% @shoe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.label "Description" %>
<%= f.text_field :description, :class => "span4" %>

<%= f.label "number of participant" %>
<%= f.text_field :total_partners, :class => "span1" %>

<div style="display: none;">
<%= select_datetime @booking.start_date, :prefix => :start_date %>
<%= select_datetime @booking.end_date, :prefix => :end_date %>
</div>

</ul>
<br style="clear: both;" />
<div style="float: right; clear: both; margin-top: 10px;" class="span4">
<a href="#" class="btn btn-warning">cancelar</a>
<a href="#" class="btn btn-success">salvar</a>
</div>


<% end %>
