
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kalemitravel.com/wp-content/uploads/2014/09/lamborghini_centro_milano_2.jpg');">
  <div class="banner-content">
    <h1>CarShark</h1>
    <p>Rent a Luxury Car</p>
    <form class="form-inline">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Search Vehicle">
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Pickup Date">

  <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"></div>
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Drop Off Date">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
  </div>
</div>

<% @cars.each do |car| %>
  - Model: <%= car.model %><br>
  - Year: <%= car.year %><br>
  - Seat: <%= car.seats %><br>
  - Rate per day: <%= car.rate %><br>
  <br>
  - Description: <%= car.description %><br>
  - <%= link_to "show", car_path(car) %>
<% end %>



<%= link_to "index", root_path %>

