<div id="wrapper">
  <div class="banner full-view" style="background-image: linear-gradient(-225deg, rgba(255,255,255) 0%, rgba(3,2,1,0.6) 20%), url('<%= @car.photo %>');">
    <div class="banner-content full-width">

      <div id="car-title">
        <h1><%= @car.model.capitalize %></h1>
      </div>

    </div>

  </div>
  <div id="info">
    <div id="car-rate">
      <p>Price per day: € <strong><%= @car.rate%></strong></p>
    </div>
    <div id="car-year">
      <p>Year: <strong><%= @car.year%></strong></p>
    </div>
    <div id="car-seats">
      <p>Seats: <strong><%= @car.seats%></strong></p>
    </div>

  </div>

  <div id="info-description">
    <div id="description">
      <p><%= @car.description%></p>
    </div>
    <!-- Form for booking -->
    <%= render 'bookings/form', car: @car, booking: @booking %>
  </div>
</div>
